<div class="row">

  <div class="col-sm-3">
    <div style="text-align: center;">
      <%= image_tag @order.product.root.image(:medium), :class => 'img-thumbnail-old', :style => "max-height: 240px; max-width: 190px;" %>
    </div>
  </div>

  <div class="col-sm-8" style="margin-bottom: 1em;">
    <h2><%= @order.product.root.name %> <small><%= @order.product.name %></small></h2>
  </div>

  <div class="col-sm-6">
    <div class="alert bg-info">
      <p class="lead" style="min-height: 80px;">
        <%= image_tag '/cashier.jpg', :class => 'pull-left img-thumbnail', :style => "max-height: 120px; margin-right: 16px;" %>
          To complete your order,
          send <code><%= @order.amount.short.gsub(' ', '&nbsp;').html_safe %></code> 
          to <code><%= Wallet::ACCT %></code> with 
          memo&nbsp;<code><%= @order.pub_id %></code>.
      </p>
      <p class="clearfix" style="padding-topx: 22px;">
        <%= link_to 'Pay with BitShares client', @order.bts_url, :class => 'btn btn-primary pull-right', :id => 'pay_button' %>
        <span id="timeleft" class="btn disabled pull-right"></span>
      </p>
    </div>

    <div class="alert well">
      <p id="status_alert" class="text-muted">
        <% if @order.shipping %>
          Item will be shipped to: <br />
          <%= @order.address.gsub(/[\r\n]+/, ", ") %>, 
          <%= @order.shipping.name %> 
          <%= local_price(@order.shipping) %>
        <% else %>
          Your download will begin within 10 seconds of payment.
        <% end %>
      </p>
    </div>


  </div>
</div>


<script>
  var isdone = false;
  var expires = new Date();
  <% seconds = (@order.due_at - DateTime.now).seconds %>
  expires.setSeconds(expires.getSeconds() + <%= seconds %>);

  function notify_dl(url) {
    _done('Thank you! If your download did not start automatically, <a href="'+url+'">try again</a>');
    <%= "if(url != '') window.location = url;".html_safe unless @order.paid_at %>
  }

  function notify_ship() {
    _done("Thank you for your order! It will be shipping soon!");
  }

  function notify_expired() {
    _done('Expired!');
  }

  // Received a message; stop polling.
  function _done(status_html) {
    if(isdone) return;
    isdone = true;
    $('#pay_button').hide();
    $('#timeleft').html("This order will now self-destruct."); 
    $('#status_alert').html(status_html);
  }

  $(document).ready(function() {

    <%# Update the countdown once a second %>
    <% if seconds > 0 %>
    var countdown = setInterval(function(){ 
      if(isdone) {
        clearInterval(countdown); 
        return;
      }

      var seconds = (expires - (new Date()).getTime()) / 1000;
      if(seconds <= 0) {
        notify_expired();
        return;
      }

      var m = Math.floor(seconds / 60),
          s = Math.floor(seconds % 60);
      $('#timeleft').html( (m > 0 ? m + "m " : "") + s + "s remaining" ); 
    }, 1000);
    <% end %>

    <%# Poll the server every 5 seconds %> 
    function poll() {
      if(isdone) return;
      setTimeout(function(){
        $.getScript("<%= status_order_url(@order.pub_id) %>")
         .done(function( script, textStatus ) {poll();})
         .fail(function( jqxhr, settings, exception ) {
           alert("Could not contact server. Please refresh the page.");});
      }, 5000);
    }
    poll();

  });
</script>
