<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @page_title || 'cryptofresh' %></title>
   <meta name="viewport" content="width=device-width, initial-scale=0.5">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <% if params[:controller] == 'products' %>
    <header>
      <%= render 'shared/asset_select' %>
    </header>
  <% end %>

  <%= render 'shared/header' %>
  <%= render 'shared/admin' if params['controller'] == 'nodes' %>
  <%= render 'shared/flash' %>
  <%= render 'shared/network_alerts' %>

  <%= yield %>

  <hr>
  <footer>
    <span>"Tomorrow belongs to those who can hear it coming" - David Bowie</span>
  </footer>

</div>

<%= render :partial => 'shared/ga' %>

</body>
</html>
